<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDO5frDHPnaEqxlI2lWnf8m2OJCYimrDP8</string>
	<key>GCM_SENDER_ID</key>
	<string>899208646112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.devinhas.tracker</string>
	<key>PROJECT_ID</key>
	<string>car-tracker-br</string>
	<key>STORAGE_BUCKET</key>
	<string>car-tracker-br.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899208646112:ios:c8cf515609a102bd82ef85</string>
</dict>
</plist>